img {
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }


  div class="parent">
<p class="child"> This is child element to the div</p>
</div>
 .parent{
Opacity:0.2;
}
Body{
Background-color:Yellow;
}